body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 200px;
    border-radius: 10%;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 5px;
}

button {
    border: .5px solid black;
    cursor: pointer;
    background: #888888;
    color: white;
    padding: 6px;
    margin-left: 12px;
    border-radius: 3px;
    width: 10%;
}

button:hover{
    padding: 7px;
}

#firstMessage, #secondMessage{
    color: black;
    font-style: italic;
    font-size: medium;
}